.dashboard-container {
  height: 100vh;

  .menu-zone {
    background-color: #303f9f;
  }

  .content-zone{
    padding: 16px;
    overflow-y: scroll;
  }

  .layout {
    height: calc(100vh - 80px);
  }
}
